.container {
    display: flex;
    background-color: black;
    color: white;
}

.container_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container_right {
    flex: 1;
    padding: 20px;
}

.container_center {
    flex: 1;
    padding: 20px;
}

.container_desc {
    margin: 20px 0;
}

.container_social {
    display: flex;
}

.container_social_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.container_social_icon:hover{
    scale: 1.1;
}

.container_social_icon:nth-child(1){
    background-color: rgb(66 103 178);
}
.container_social_icon:nth-child(2){
    background-color: red;
}
.container_social_icon:nth-child(3){
    background-color: #0088cc;
}
.container_social_icon:nth-child(4){
    background-color: #1DA1F2;
}

.container_title {
    margin-bottom: 30px;
}

.container_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.container_listItem {
    width: 50%;
    margin-bottom: 10px;
}

.container_contact {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.container_payment {
    width: 50%;

}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .container_center {
        display: none;
    }

}
