.link {
    text-decoration: none;
    color: inherit;
  }
  
  .card {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .image:hover .main_img {
    position: absolute;
    display: block;
  }
  
  .image:hover .second_img {
    position: absolute;
    display: block;
    z-index: 2;
  }
  
  .main_img,
  .second_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .card_info {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    color: teal;
    padding: 3px 5px;
    z-index: 3;
    font-weight: 500;
    font-size: 12px;
  }
  
  .card_title {
    font-size: 16px;
    font-weight: 400;
  }
  
  .card_prices {
    display: flex;
    gap: 20px;
  }
  
  .card_price {
    font-size: 18px;
    font-weight: 500;
  }
  
  .card_price:first-child {
    color: gray;
    text-decoration: line-through;
  }