.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  
  .search {
    padding: 10px;
    font-size: 20px;
  }
  
  .list {
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .listItem {
    margin-bottom: 20px;
    font-size: 25px;
    color: #444;
    font-weight: 300;
  }