.user{
    padding: 10px;
}

.wrapper{
    display: flex;
    align-items: center;
}

.left{
    flex: 1;
}
.right{
    flex: 3;
}

.avatar{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 0%;
}

.detail{
    
}